img {width: 160px;
height: auto;}
Navigation {
    display: flex;
    flex-direction: row;
    width: fit-content;
    
}
Navigation img 
{
    position: relative;
    bottom: 50px;
}
nav {
    border: solid 1px red;
    width: 100%;
    
    
    text-align: center;
} 