
div {
    margin: 0;
    padding: 0;
  }
  
  /*
   * Set up the game board in a 4x4 grid using table-row and cell CSS
   * Game board is 48x60em with each cell (property) being 12x12em
   * The right column is player info panels
   */
  .game_board {
    /* width: 60em;
    height: 48em; */
    width: 70em;
    height: 40em;
    background-color: red;
  }
  
  .row {
    background-color: lightgreen;
    /* width: 60em;
    height: 12em; */
    width:70em;
    height:10em;
    display: table-row;
  }
  
  .cell {
    background-color: #1c215b;
    outline: .25em solid #1c215b;
    background-color:#ebeee9;
    display: table-cell;
    /* width: 12em;
    height: 12em; */
    width:10em;
    height:10em;
    text-align: center;
    padding: .5em;
    

  }
  
  .square-name {
    font-weight: bold;
    background-color:red;
  }
  #square2-name, #square2-name, #square3-name, #square6-name, #square7-name, #square8-name, #square10-name, #square12-name, #square13-name, #square16-name{
    background-color: green;
  }
  #square11-name{
    background-color: goldenrod;
    
    font-family: Arial, Helvetica, sans-serif;
  }
  #start{
    background-color: white;
  }
 .info {
    background-color:#1c215b ;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
  }
  .middle{
    background-color: #1c215b;
  }
  body{
    background-color: #1c215b;

  }
 
  
  /*Tokens*/
  .Triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid black;
  }
  
  .Circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: darkblue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  
  #player1-info_token {
    display: inline-block;
    margin: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
  }
  
  #player2-info_token {
    display: inline-block;
    margin: 0;
    width: 20px;
    height: 20px;
    background: darkblue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  


  