body{margin: 0;}
.blue{border: solid black 1px;
background-color: blue;
width:100%;

text-align:center;
color: white;}
.red{border: solid black 1px;
    background-color: red;
min-height: 903px ;
height: fit-content;
display: flex;
flex-direction: row;
justify-content: space-between;}

.gold{border: solid black 1px;
    background-color: gold;}

.violet{background-color: violet;
display: flex;
flex-direction: column;
height: 600px;
}
.checkbox-wrapper-overall
{
    margin: 20px 0 10px 0;
}

#spaceborder{margin: 10px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;

}
#spaceborder h1 {padding: 5px 5px 5px 5px;
    width: fit-content;
text-align: center;
border: solid black 1px;
background-color: aliceblue;}
.totalprice{
    display: flex;
    flex-direction: column;}

useraccount h2 {margin-bottom: 0%;}
.user {border: solid black 1px;
    background-color: aqua;
display: flex;
flex-direction: column;
width: 60%;}
voucherlist {border: solid black 1px;
background-color: aliceblue;
}
changepass {
text-align: right;
margin-bottom: 20px;
}
changepass button {margin-right: 10px;} 
#cart {width: 40%;}
voucherlist {width: 90%;
    height: 600px;
margin-left: 5%;}